/* loja.css */

/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Estilos do cabeçalho */
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

/* Estilos do menu de navegação */
nav {
  background-color: #eee;
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  padding: 5px;
}

/* Estilos da área de produtos */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.product {
  width: 300px;
  margin: 10px;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product img {
  width: 100%;
  height: auto;
}

.product h2 {
  margin-top: 10px;
  font-size: 20px;
}

.product p {
  color: #666;
}

.product button {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.product2 {
  width: 300px;
  margin: 10px;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product2 img {
  width: 100%;
  height: 300 x 295;
}

.product2 h2 {
  margin-top: 10px;
  font-size: 20px;
}

.product2 p {
  color: #666;
}

.product2 button {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}


/* Estilos do rodapé */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer p {
  margin: 0;
}

